#include <dt-bindings/zmk/mouse.h>
#include <dt-bindings/zmk/input_transform.h>
#include <zephyr/dt-bindings/input/input-event-codes.h>
#include <behaviors.dtsi>

/ {
    trackball_listener {
        compatible = "zmk,input-listener";
        device = <&trackball>;

        input-processors = <&zip_temp_layer MOUSE 1000>;

        scroll {
            layers = <SCROLL>;
            input-processors = <&zip_xy_scaler 1 40>, <&zip_xy_to_scroll_mapper>, <&zip_scroll_transform INPUT_TRANSFORM_Y_INVERT>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        mouse_layer {
            bindings = <
                &trans     &trans     &trans     &trans     &trans         &trans     &trans     &mkp MCLK  &mo SCROLL &trans
                &trans     &trans     &trans     &trans     &trans         &trans     &mkp LCLK  &trans     &mkp RCLK  &trans
                &trans     &trans     &trans     &trans     &trans         &trans     &trans     &trans     &trans     &trans
                                                 &trans     &trans         &trans
            >;
        };
        scroll_layer {
            bindings = <
                &trans     &trans     &trans     &trans     &trans         &trans     &trans     &mkp MCLK  &trans     &trans
                &trans     &trans     &trans     &trans     &trans         &trans     &mkp LCLK  &trans     &mkp RCLK  &trans
                &trans     &trans     &trans     &trans     &trans         &trans     &trans     &trans     &trans     &trans
                                                 &trans     &trans         &trans
            >;
        };
    };
};