if SHIELD_LITTLE_WING_RIGHT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Little Wing"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_LITTLE_WING_LEFT || SHIELD_LITTLE_WING_RIGHT

config ZMK_SPLIT
    default y

if ZMK_DISPLAY

config I2C
    default n

config SSD1306
    default n

endif # ZMK_DISPLAY

endif
